/node_modules
/public/hot
/public/fonts/**/*
/public/js/app.js
/public/css/**/*
public/images/slides/**/*
/public/storage
/public/mix-manifest.json
/storage/*.key
/storage/framework/cache/data
/vendor
.idea
.vscode
.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
*.DS_Store
*.code-workspace
public/mix-manifest.json
public/css/auth.css
public/uploads/**/*
database/database.sqlite
database/database.sqlite
